/* .login-form {
  position: relative; 
}

.login-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/blurbg.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
} */
/* CSS */
/* CSS */
.hover-effect:hover {
  transform: scale(1.05); /* Scale up the card on hover */
  transition: transform 0.3s ease; /* Add transition effect */
}

